* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    width: 1600px;
}

/* navber */

.navber {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 92px;
    padding: 16px 120px 16px 120px;
    background-color: #ffffff;
    align-items: center;
    background-color: ;
}
.navber ul {
    display: flex;
    list-style: none;
    gap: 32px;
}
.navber a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}
.navber a:hover {
    background-color: pink;
    border-radius: 2px;
    transition: 0.3s;
}
.navber .btn {
    width: 164px;
    height: 44px;
    background-color: #30b868;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
/* banner  */
.hero {
    height: 100vh;
    background-image: url("../images/hero-bg.png");
    width: 1600px;
    background-repeat: no-repeat;
}
.hero-contain {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 205.5px;
}
.hero .white {
    color: #ffffff;
    font-size: 72px;
    font-weight: 700;
}
.hero .green {
    color: #30b868;
    font-size: 72px;
    font-weight: 700;
}
.hero .background {
    background-color: #f7f6f2;
    color: #30b868;
    width: 208px;
    height: 35px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 1000px;
}

.hero .text-bottom {
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
}
.hero .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
}
.hero .button .color {
    margin-top: 32px;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
    height: 52px;
    width: 251px;
    border-radius: 4px;
    background-color: #30b868;
    color: #ffffff;
    border: none;
    padding-right: 20px;
    cursor: pointer;
}
.hero .button .none {
    font-size: 16px;
    font-weight: 600;
    height: 52px;
    width: 251px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    background: none;
    color: #ffffff;
    cursor: pointer;
}

#about .about-container {
    width: 1360px;
    height: 153px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}
.about-container h1 {
    font-weight: bold;
    font-size: 48px;
    padding-bottom: 20px;
}
.middel-section i {
    background-color: #30b868;
    border-radius: 100%;
    color: #ffffff;
}
.about-container p {
    font-size: 16px;
    color: #627382;
    padding-bottom: 44px;
}
#about .about-container .about-info {
    display: flex;
    justify-content: space-around;
}
.about-info .info-card h2 {
    font-size: 34px;
    font-weight: 500px;
    color: #001931;
    margin-bottom: 16px;
}
.about-info .info-card {
    font-size: 16px;
    color: #627382;
    margin-top: 46px;
    gap: 24px;
    padding: 24px;
    max-width: 322px;
    height: 300px;
    box-shadow: 0 6px 50px 0 #f1eded;
}
.info-card img {
    width: 60px;
    height: 60px;
    background-color: rgba(249, 85, 85, 1);
    border-radius: 100%;
    margin-bottom: 16px;
}
#middel .middel-section {
    width: 1360px;

    padding-top: 320px;
    display: flex;
}
#middel img {
    margin: 120px 120px 120px 120px;
    width: 600px;
}
#middel .contain {
    padding-top: 221.5px;
    width: 700px;
    height: 397px;
}
.contain .top {
    width: 700px;
    height: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #30b868;
    line-height: 20px;
}
.contain h1 {
    height: 117px;
    width: 700px;
    font-size: 48px;
    font-weight: 700px;
    line-height: 58px;
    color: #001931;
}
.contain p {
    width: 700px;
    height: 60px;
    font-size: 16px;

    color: #627382;
    margin-bottom: 40px;
    margin-top: 16px;
}
.contain h4 {
    width: 700px;
    /* height: 128px; */
    padding: 8px;
}
#top-footer {
    width: 1360px;
    height: 385px;
    background-color: #f7f6f2;
    margin: 0 auto;
    text-align: center;
}
#top-footer .top-contain {
    padding: 80px 40px 80px 40px;
}
.top-contain h1 {
    width: 1280px;
    height: 49px;
    font-weight: 700;
    font-size: 40px;
    color: rgba(0, 25, 49, 1);
    line-height: 48px;
}
.top-contain p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 16px 0 24px 0;
    color: rgba(98, 115, 130, 1);
}
.top-contain button {
    width: 194px;
    height: 52px;
    background-color: #30b868;
    color: #ffffff;
    border-radius: 4px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}
footer .foot {
    width: 1600px;
    height: 348px;
    background-color: rgba(0, 25, 49, 1);
    padding: 120px 120px 30px 120px;
    display: flex;
    justify-content: space-between;
}

.foot img {
    width: 100px;
    height: 60px;
}
.foot h4 {
    width: 123px;
    height: 28px;
    font-weight: 500;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    text-align: right;
    padding-bottom: 30px;
}
.foot a {
    background-color: #ffffff;
    height: 10px;
    border-radius: 100%;
}
.foot h4 {
    text-align: right;
}
.icon {
    text-align: right;
}
.foot p {
    margin-top: auto;
    width: 1360px;
    height: 24px;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
}
