* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    width: 1600px;
}

/* navber */

.navber {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 92px;
    padding: 16px 120px 16px 120px;
    background-color: #ffffff;
    align-items: center;
    background-color: ;
}
.navber ul {
    display: flex;
    list-style: none;
    gap: 32px;
}
.navber a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}
.navber a:hover {
    background-color: pink;
    border-radius: 2px;
    transition: 0.3s;
}
.navber .btn {
    width: 164px;
    height: 44px;
    background-color: #30b868;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
/* banner  */
.hero {
    height: 100vh;
    background-image: url("../images/hero-bg.png");
    width: 1600px;
    background-repeat: no-repeat;
}
.hero-contain {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 205.5px;
}
.hero .white {
    color: #ffffff;
    font-size: 72px;
    font-weight: 700;
}
.hero .green {
    color: #30b868;
    font-size: 72px;
    font-weight: 700;
}
.hero .background {
    background-color: #30b868;
    width: 208px;
    height: 35px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 1000px;
}

.hero .text-bottom {
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
}
.hero .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
}
.hero .button .color {
    margin-top: 32px;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
    height: 52px;
    width: 251px;
    border-radius: 4px;
    background-color: #30b868;
    color: #ffffff;
    border: none;
    padding-right: 20px;
    cursor: pointer;
}
.hero .button .none {
    font-size: 16px;
    font-weight: 600;
    height: 52px;
    width: 251px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    background: none;
    color: #ffffff;
    cursor: pointer;
}

/* middel */

/* #about .info-card img{
    background-color: black;
} */

#about .about-container {
    width: 1360px;
    height: 153px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}
.about-container h1 {
    font-weight: bold;
    font-size: 48px;
    padding-bottom: 20px;
}
.about-container p {
    font-size: 16px;
    color: #627382;
    padding-bottom: 44px;
}
#about .about-container .about-info {
    display: flex;
    justify-content: space-around;
}
.about-info .info-card h2 {
    font-size: 34px;
    font-weight: 500px;
    color: #001931;
    margin-bottom: 16px;
}
.about-info .info-card {
    font-size: 16px;
    color: #627382;
    margin-top: 46px;
    gap: 24px;
    padding: 24px;
    max-width: 322px;
    height: 300px;
    box-shadow: 0 6px 50px 0 #f1eded;
}
.info-card img {
    width: 60px;
    height: 60px;
    background-color: rgba(249, 85, 85, 1);
    border-radius: 100%;
    margin-bottom: 16px;
}
